*{
    font-family: 'Bowlby One SC', cursive;
    font-size: 128px;
}
#wrapper{
    display: flex;
    flex-flow:row wrap ;
    justify-content: space-around;
    align-content: space-around;
    height: 95vh;
}

body{
    background-image: url("./back.jpg");
    background-size: cover;
    
}
#div1,#div2,#div3,#div4{
    border: 3px solid rgba(245, 238, 238, 0.315);
    border-radius: 20px;
    width:20vw;
    display:flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.356);
}
@media only screen and (max-width: 1000px){
      body{
        font-size: 0.25rem;
    }
    #wrapper{
        display: flex;
        flex-flow:column;
        overflow-y: auto;
        align-items: center;
        padding:50vh 0 10vh 0vh;
    }
    #div1,#div2,#div3,#div4{
    margin-top: auto;
    margin-bottom: auto;
    width: 50vw;
    }
}
